form {
  position: relative;
  width: 100%;
}

.planoDeFundoPaginasIniciais {
  filter: brightness(50%);
  min-height: 'max-content';
  width: 100%;
  height: 490px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}